*.docx
*.pptx
*.wav
*.TextGrid
*.TextGrid_
*. TextGrid
*.reapeaks
*.png
*.pdf
**/.idea/*
**/.venv/*
**/archive/*
**/__pycache__
d_backend/Material for tests/Split/Лист Microsoft Excel.xlsx
*.mp3
*.xlsx
*.txt
